<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="School_Project.Properties.Settings.OkulDbConnectionString"
            connectionString="Data Source=LAPTOP-83L42UFV\SQLEXPRESS;Initial Catalog=OkulDb;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>